html, body {
        background: #EEEEEE;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
          height: 80%;
      }
      #map p{
          text-align: center;
      }

 .navbar{
     border-radius: 0;
 }
 /* pop up outer */
.popup {
    width:80%;
    height:85%;
    display:none;
    margin-bottom: 10px;
    position:fixed;
    top:10%;
    left:10%;
    border-radius: 10px;
    opacity: 1;
}

/* popup inner */
.popup-inner {
    max-width:90%;
    width:99%;
    height:90%;
    padding:40px;
    margin-bottom: 50px;
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* close button */
.popup-close {
    width:20px;
    height:20px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.10s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:'Arial', serif;
    font-size:12px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-inner #singleRoute {
    height: 90%;
    width: 100%;
    margin-bottom: 30px;
}

.table-scroll {
    height: 70%;
    overflow: scroll;
    border-collapse:collapse;
    background: white;
    border-radius: 10px;
}

.table{
    font-size: inherit;
}
.table tr:hover{
    cursor: pointer;
}

.container{
    width: 95%;
    font-family: 'Cormorant Upright', serif;
}
