html, body {
        background: #EEEEEE;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

 .navbar{
     border-radius: 0;
 }
 /* pop up outer */
.popup {
    width:80%;
    height:85%;
    display:none;
    margin-bottom: 10px;
    position:fixed;
    top:10%;
    left:10%;
    border-radius: 10px;
    background:rgba(0,0,0,0.75);
}

/* popup inner */
.popup-inner {
    max-width:90%;
    width:99%;
    height:90%;
    padding:40px;
    margin-bottom: 50px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* close button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-inner #singleRoute {
    height: 90%;
    width: 100%;
    margin-bottom: 30px;
}