{% extends 'route/base.html' %}
{% block body %}
    {% if users %}
      <h4>User Details</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S.N.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr class="">
            <td>{{ forloop.counter }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.user_key }}</td>
            <td><a class="btn" data-popup-open="popup-1" href="#" user="{{ user.user_key }}"><button type="button" class="btn btn-info btn-md glyphicon glyphicon-map-marker"></button></a></td>
        {% endfor %}
        </tbody>
      </table>
        <div class="popup" data-popup="popup-1">
            <div class="popup-inner">
                <h4>User Map (Point A to Point A2)</h4>
                <div id="singleRoute"></div>
                <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
            </div>
        </div>
    {% else %}
        <p>No user data found</p>
    {% endif %}
    {% block customstaticsbottom %}
        {% load staticfiles %}
            <script type="text/javascript" src="{% static 'route/js/singleroute.js' %}"></script>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        {% endblock %}


{% endblock %}