{% extends 'route/base.html' %}
{% block title %} User Route{% endblock %}
{% block body %}
    <h4>Filters</h4>
    <div class="col-xs-6 col-md-2 container-fluid">
        <label for="from_filter">From</label>
        <select name="from_filter" id="from_filter">
        <option>Select Source</option>
            {% for from in from_filter %}
                <option value="{{ from}}"> {{ from}}</option>
            {% endfor %}
        </select>
        <br/>
        <br/>
        <label for="to_filter">To</label>
        <div id="to_filter"><i>Nothing selected</i></div>
        <br/>
        <br/>
        <button type="button" class="btn btn-success" onclick="locus();">Submit</button>
    </div>
    <div class="col-xs-6 col-md-10 container-fluid">
        <div id="map">
            <center>Ready to load map...</center>
        </div>
    </div>

{% endblock %}
{% block customstaticsbottom %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'route/js/maploader.js' %}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBqYNZf6hedRuOjU_uy3TegTH9ucyhurQ&sensor=false"></script>
    <script type="text/javascript" src="{% static 'route/js/maptrigger.js' %}"></script>
{% endblock %}
